.ngx-password-strength ul {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.ngx-password-strength .point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 3px;
    width: 20px;
}

.ngx-password-strength .point:last {
    margin: 0 !important;
}